body {
    margin: 0px;
    border: 0px;
    width: 100%;

    background-color: #ffe5fd;
}


/* ----------------  Header content  ---------------- */

.header {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 75vh;
    background-color: #c82956;
}
 /* -----  Header Text/Font----- */
.header--Text {
    color: white;
    text-align: left;
    margin-right: 46px;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.header h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.header h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.carousel {
    width: 370px;
    height: 330px;
    overflow: hidden;
    padding-left: 80px;
}

.slick-slide img {
    width: 100%;
    height: auto;
    max-width: 30vh;
}

.slick-fade .slick-slide {
    transition: opacity 0.5s ease-in-out;
}

.arrow--left-arrow{
    width: 30px;
    height: 30px;
}

.arrow--right-arrow{
    width: 30px;
    height: 30px;
}
/* ----- Header Nav/drop down menu ----- */
.navbar {
    background-color: #a5a5a5;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 24px;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    transition: opacity 0.5s;
    z-index: 1;
}

.navbar.visible {
    opacity: 1;
    pointer-events: auto;
  }
  
  .navbar.hidden {
    opacity: 0;
    pointer-events: none;
  }

.nav--title {
    font-size: 20px;
    font-family: Raleway;
}

.navbar ul {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    gap: 4px ;
    align-items:center;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 4px;
}

.navbar li:active {
    background-color: #f87aee;
}

.navbar li:hover {
    background-color: #ffcefb;

}

/* ------------------ Podcast styling ----------------- */
/* --------- Loading screen ----------- */
.loading--screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.loading--text {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: Raleway;
}

.loading--image {
    width: 100px;
    height: 100px;
    animation: spin 2s linear none infinite ;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(100deg);
    }
}

/* ------------- podcast Cards templates ------------- */
/* ------- all podcasts ------- */
.podcast {
    padding-top: 56px;
    background-color: #c82956;
    height: auto;
}

.podcast--item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 2px;
    background-color: #f7e1e1;
    border: 1px solid #ddd;
    padding: 5px;
    position: relative;
}

.podcast--image {
    width: 200px;
    height: 150px;
}

.podcast--info {
    flex: 1;
    margin-left: 10px;
    position: relative;
}

.podcast--title {
    font-size: 20px;
    font-weight: bold;
    font-family: Raleway ;
}

.podcast--updated,
.podcast--seasons {
    font-size: 14px;
    margin-top: 5px;
}

.display--info-button {
    margin-top: 10px;
    cursor: pointer;
}
 .podcast--description {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #a5a5a5;
    padding: 10px;
    z-index: 1;
 }

.podcast--description.show {
    display: block;
}

.play--icon {
    width: 50px;
    height: 50px;
    background-image: url(./img/play-button-arrowhead.png);
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1;
}
.podcast--item:hover .play--icon {
    display: block;
}
/* ------- seasons/episodes podcasts ------- */
.all--seasons {
    padding-top: 53px;
    background-color: #c82956;
}
  
  .season--info {
    flex: 1;
    margin-left: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 2px;
    background-color: #f7e1e1;
    border: 1px solid #ddd;
    padding: 5px;
    transition: all 0.3s ease;
  }
  
  .season--image {
    width: 300px;
    height: 250px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .season--image.shrink {
    width: 180px;
    height: 135px;
  }
  
  .season--details {
    display: flex;
    flex-direction: column;
  }
  
  .season--episodes {
    margin-left: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .season--info.show-episodes .season--episodes {
    opacity: 1;
    max-height: 100%; /* Adjust this value as needed */
  }
  
  .season--episode-item {
    padding-top: 5px;
    font-family: Raleway;
    font-size: 14px;
  }

  .season--episode-item:hover {
    background-color: #e67494;
  }

  /* ------------- podcast favourite icon --------------- */
  .favorite-icon {
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
  }
  
  .favorite-icon img {
    width: 20px;
    height: 20px;
  }
  
  .display--info-button {
    margin-left: 30px;
  }
  
  /* ---------------------- Footer content ------------------ */
  .footer {
    background-color: #ddd;
    font-family: Raleway;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .footer-column {
    flex: 1;
    padding: 0 20px;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
/* ------------------ media queries for Tablet ------------------- */
@media (min-width: 768px) and (max-width: 1023px) {
    .header {
      padding-top: 40px;
    }
  
    .header h1 {
      font-size: 30px; 
      margin-bottom: 8px;
    }
  
    .header h2 {
      font-size: 20px; 
      margin-bottom: 8px;
    }
  
    .header h3 {
      font-size: 16px; 
      margin-bottom: 16px;
    }
  
    .podcast {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .podcast--item {
      padding: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
      width: calc(33.33% - px); 
      margin: 10px;
      box-sizing: border-box;
    }
  
    .podcast--title {
      font-size: 16px;
    }
  
    .podcast--updated,
    .podcast--seasons {
      font-size: 12px;
      margin-top: 3px;
    }
  
    .nav--title {
      font-size: 18px;
    }
  
    input[type="text"],
    button {
      font-size: 16px;
      padding: 10px 20px;
    }

    .season--episode-item {
      font-size: 22px;
    }
  }
  
/* ------------------ media queries for Laptop and bigger ------------------- */
  @media (min-width: 1024px) {
    .header {
      padding-top: 35px;
    }
  
    .header h1 {
      font-size: 36px;
      margin-bottom: 10px;
    }
  
    .header h2 {
      font-size: 24px; 
      margin-bottom: 10px;
    }
  
    .header h3 {
      font-size: 20px;
      margin-bottom: 20px;
    }
    
    .podcast {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .podcast--item {
      padding: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
      width: calc(33.33% - px); 
      margin: 10px;
      box-sizing: border-box;
    }
  
    .podcast--title {
      font-size: 18px;
      padding-left: 15px;
    }
  
    .podcast--updated,
    .podcast--seasons {
      font-size: 15px;
      margin-top: 5px;
    }
  
    .nav--title {
      font-size: 22px;
    }
  
    input[type="text"],
    button {
      font-size: 18px;
      padding: 12px 24px;
    }
  }
  
  .favorite-icon {
    position: absolute;
    bottom: 60px;
    left: 10px;
    cursor: pointer;
  }
  
  .favorite-icon img {
    width: 20px;
    height: 20px;
  }
  
  .display--info-button {
    margin-left: 30px;
  }