body {
    border: 0px;
    width: 375px;
    height: 667px;
    background-color: #ffe5fd;
}

/* ----------------  Header content  ---------------- */

.Header {
    display: flex;
    flex-direction: column;
    height: 567px;
    background-color: #c82956;
}
 /* -----  Header Text/Font----- */
.Header--Text {
    color: white;
    text-align: left;
    margin-right: 46px;
}

/* ----- Header Nav/drop down menu ----- */
.nav {
    background-color: #a5a5a5;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 24px;
    padding: 0px;
}

.nav--title {
    font-size: 20px;
    font-family: Raleway;
}

.nav ul {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    gap: 4px ;
    align-items:center;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 4px;
}

.nav li:active {
    background-color: #f87aee;
}

.nav li:hover {
    background-color: #ffcefb;

}

/* ------------------ Podcast styling ----------------- */
.podcast {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.podcast--image {
    width: 60px;
    height: 60px;
}